{% extends "_base.html" %}
{% load mathfilters %}
{% load markdown %}
{% load fullurl %}
{% load i18n %}
{% load get_setting %}

{% block head_title %}
  {{policy.title}}
{% endblock %}

{% block custom_sm_title %}
  <meta property="og:title" content="{{policy.title}}">
  <meta property="og:description" content="{{policy.subtitle}}">
  <meta property="og:url" content="{% fullurl 'policy_item' policy_id=policy.id slug=policy.slug %}">
{% endblock %}

{% block custom_header %}
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <a href="/" class="go-to-index"><i class="material-icons chevron-left">chevron_left</i><span>{% trans "Return to Overview" %}</span></a>
        </div>
        {% if request.guard.policy_edit %}
        <div class="col-6 align-right">
          <a class="go-to-index" href="{% url 'policy_edit' policy_id=policy.id %}"><span>{% trans "Edit Policy" %}</span><i class="material-icons chevron-right">chevron_right</i></a>
        </div>
        {% endif %}
      </div>
      <div class="row initiative-title">
        <div class="col-12">
            <h1 class="display-4">{{policy.title}}</h1>
        </div>
      </div>
      <div class="row initiative-subtitle">
        <div class="col-12">
          <p>{{policy.subtitle}}</p>
        </div>
      </div>

      {% include "initproc/blocks/meta.html" %}

      <div class="row skip-meta">
        <div class="col-4">
          <a href="#initiative-text" class="skip-meta"><i class="material-icons expand-more">expand_more</i>{% trans "Browse Policy" %}</a>
        </div>
        <div class="col-8">

          {% if request.guard.policy_undelete %}
          <div class="align-right">
            <form class="action-form" action="{% url 'policy_undelete' policy_id=policy.id %}" style="display:inline" method="POST">
              {% csrf_token %}
              <button title="{% trans 'Undelete Policy into hidden status' %}" class="btn btn-success" type="submit">
                <i class="material-icons forward">forward</i>
                <span>{% trans "Undelete Policy (will be hidden)" %}</span>
              </button>
            </form>
          </div>
          {% endif %}

          {% if request.guard.policy_unhide %}
          <div class="align-right">
            <form class="action-form" action="{% url 'policy_unhide' policy_id=policy.id %}" style="display:inline" method="POST">
              {% csrf_token %}
              <button title="{% trans 'Unhide Policy into draft status' %}" class="btn btn-success" type="submit">
                <i class="material-icons forward">forward</i>
                <span>{% trans "Unhide Policy (set to Draft)" %}</span>
              </button>
            </form>
          </div>
          {% endif %}

          {% if request.guard.policy_stage %}
          <div class="align-right">
            <form class="action-form" action="{% url 'policy_stage' policy_id=policy.id %}" style="display:inline" method="POST">
              {% csrf_token %}
              <button title="{% trans 'Put policy into public draft and find co-initiators' %}" class="btn btn-success" type="submit">
                <i class="material-icons forward">forward</i>
                <span>{% trans "Stage Policy (public draft)" %}</span>
              </button>
            </form>
            <form class="action-form" action="{% url 'policy_delete' policy_id=policy.id %}" style="display:inline" method="POST">
              {% csrf_token %}
              <button title="{% trans 'Delete Policy' %}" class="btn btn-danger" type="submit">
                <i class="material-icons delete_outline">delete_outline</i>
              </button>
            </form>
          </div>
          {% endif %}

          {% if request.guard.policy_invite %}
          <div class="align-right" id="invite-initiators">
            {% with 'initiators' as initiators %}
              <a data-ajax="true" href="{% url 'policy_invite' policy_id=policy.id invite_type=initiators %}?fragment=%23invite-initiators" class="btn btn-success">
                <i class="material-icons forward">forward</i>
                <span>{% trans "Invite Co-Initiators" %}</span>
              </a>
            {% endwith %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}

  {# vote #}

  <div class="container-fluid initiators">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h6 class="text-muted classification">{% trans "Initiators" %}</h6>
        </div>
      </div>
      <div class="row no-gutters avatar">
        {% for supporter in policy.initiators %}
          <div class="d-flex flex-wrap">
            {% include "fragments/avatar.html" with user=supporter.user %}
            <div class="name">
              {{ supporter.user.get_full_name|default:supporter.user.username }}
            </div>
            {% with "PLATFORM_POLICY_EDIT_STATE_LIST"|get_setting as state_list %}
              {% if policy.state in state_list %}
                <div class="approval">
                  {% if supporter.ack %}
                    {% if supporter.user == user %}
                      <form action="{% url 'policy_remove_support' policy_id=policy.id %}" style="display:inline" method="POST">
                        {% csrf_token %}
                        <button title="{% trans 'Remove Support' %}" class="btn btn-warning" type="submit">
                          <i class="material-icons">not_interested</i>
                        </button>
                      </form>
                    {% else %}
                      <span title="{% trans 'confirmed' %}" class="action-box"><i class="material-icons done">done</i></span>
                    {% endif %}
                  {% else %}
                    {% if supporter.user == user %}
                      <div class="action-box">
                        <strong style="display:block">{% trans "Confirm now" %}</strong>
                        <form action="{% url 'policy_acknowledge_support' policy_id=policy.id %}" style="display:inline" method="POST">
                          {% csrf_token %}
                          <button title="{% trans 'Support' %}" class="btn btn-success" type="submit">
                            <i class="material-icons">done</i>
                          </button>
                        </form>
                        <form action="{% url 'policy_remove_support' policy_id=policy.id %}" style="display:inline"  method="POST">
                          {% csrf_token %}
                          <button title="{% trans 'No Support' %}" class="btn btn-danger" type="submit">
                            <i class="material-icons">not_interested</i>
                          </button>
                        </form>
                      </div>
                    {% else %}
                      <span title="{% trans 'unconfirmed' %}" class="action-box"><i class="material-icons warning">warning</i></span>
                    {% endif %}
                  {% endif %}
                </div>
              {% endif %}
            {% endwith %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}

{% block body-javascript %} {{ block.super }}
<script type="text/javascript">
// Initialize Tooltips
$(document).ready(function () {
  //$(function () {
    $('[data-toggle="tooltip"]').tooltip();
  //});
});
</script>
{% endblock %}





