{% load i18n %}
{% load get_setting %}
{% with "PLATFORM_POLICY_STATE_DICT.DISCUSSED"|get_setting as discussed %}
  <div id="proposal-list">
    {% for argument in policy_proposals %}
        {% include "fragments/discusson/policy_argument_item.html" %}
      {% empty %}
      <div id="no-proposals" class="alert alert-info">
        {% if policy.state == discussed %}{% trans "Up to this point " %}{% endif %} {% trans "no proposals have been made" %}.
      </div>
    {% endfor %}
  </div>
  <div id="proposals-thanks" class="container-fluid push-alert fixed-top"></div>
  {% if policy.state == discussed %}
    <div id="new-proposal">
      {% include "fragments/discussion/policy_propose_new.html" %}
    </div>
  {% endif %}
{% endwith %}

