{% load i18n %}
{% load get_setting %}
{% with "PLATFORM_POLICY_STATE_DICT.DISCUSSED"|get_setting as discussed %}
  <div id="argument-list">
    {% for argument in policy_arguments %}
      {% include "fragments/discussion/policy_discussion_item.html" %}
    {% endfor %}
  </div>
  <div id="debate-thanks" class="container-fluid push-alert fixed-top"></div>
  {% if policy.state == discussed %}
    <div id="new-argument" class="container-fluid">
      {% include "fragments/discussion/policy_thumbs.html" %}
    </div>
  {% endif %}
{% endwith %}
