{% extends "_base.html" %}

{% load i18n %}
{% load get_trans %}
{% block head_title %}{% trans "Plenum: Todo List" %}{% endblock %}

{% block content %}
  {% block body %}
  <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col">
          <h2>{% trans "Todo List" %}</h2>
          <p>{% trans "This is a list of all items and todos you are subscribed to (see your settings). Items remain on the list until you mark them as read/answer the respective request." %}
          {% if perms.auth.user_can_localise %}
          <p>{% trans "Administrative or moderation items can be handled by all users with appropriate permissions and will disappear once handled." %}</p>
          {% endif %}
          <ul class="todo-list notifications">
            {% for notice in notifications %}
              {% include 'notifications/notice.html' %}
            {% endfor %}
          </ul>

      </div>
  </div>
  <div class="row mt-4 mb-4">
      <div class="col">
          <a href="/"><i class="material-icons chevron-left">chevron_left</i>{% trans "Back to main page" %}</a>
      </div>
  </div>
  {% endblock %}
{% endblock %}
