{% load i18n %}
{% load get_as_string %}
{% load get_trans %}
{% load get_setting %}
<div class="todo-list-item alert alert-block alert-{{ notice.level }}">
  <a class="todo-list-close close pull-right" href="{% url 'notifications:delete' notice.slug %}">
    <i class="material-icons close icon-close">close</i>
  </a>
  <h4 class="todo-list-header">
    {% if notice.unread %}<i class="icon-mail material-icons fiber_new">fiber_new</i>{% endif %}

    {% with "NOTIFICATIONS.I18N_VALUE_LIST."|add:notice.verb as lookup %}
      {% with lookup|get_setting as pointer %}
        {% with pointer|get_trans as action %}
          {% if notice.target_object_id %}
            {% with notice.target_content_type|get_as_string as data_type %}
              {% if data_type == "user" %}
                <a href="{% url notice.target_content_type|get_as_string user_id=notice.target_object_id %}#{{ notice.verb }}">
              {% else %}
                {# fix this, slice is only way to make initiative with only init_id and deeplink work #}
                {% url notice.target_content_type|get_as_string init_id=notice.target_object_id as forward_url %}
                <a href="{{ forward_url|slice:':-1' }}#{{ notice.verb }}">
              {% endif %}
            {% endwith %}
          {% endif %}
          {{ notice.actor }}: {{ action }} {% if notice.target %}{% if notice.target %}- {{ notice.target }}{% endif %}{% endif %}
          {% if notice.target_object_id %} 
            </a>
          {% endif %}
        {% endwith %}
      {% endwith %}
    {% endwith %}

  </h4>
  <p class="todo-list-timestamp">{% trans "Pending since: " %}{{ notice.timesince }}</p>
  {% if notice.description %}
  <p class="todo-list-description">{{ notice.description|linebreaksbr }}</p>
  {% endif %}
  <div class="todo-list-actions notice-actions">
    {% for action in notice.data.actions %}
      <a class="btn" href="{{ action.href }}">{{ action.title }}</a>
    {% endfor %}
  </div>
</div>
