{% extends "_base.html" %}
{% load i18n %}
{% load site_defaults %}

{% block body_class %}account account-delete{% endblock %}
{% block head_title %}{% trans "Delete Account" %}{% endblock %}

{% block content %}
  {% block body %}
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col">
            <form method="post" action="{% url "account_delete" %}" autocapitalize="off">
                <h2>{% trans "Delete Account" %}</h2>
                <p>{% blocktrans %}Please note, once you delete your account, all account related data will be permanently and irrevocably deleted after a {{ 'ACCOUNT_DELETION_EXPUNGE_HOURS'|get_setting }} hours.{% endblocktrans %}</p>
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">{% trans "Delete my account" %}</button>
            </form>
          </div>
        </div>
        <div class="row">
        <div class="col row mt-4 mb-4">
          <a href="{% url "profile_edit" %}"><i class="material-icons chevron-left">chevron_left</i>{% trans "Return to settings" %}</a>
        </div>
      </div>
      </div>
    </div>
  {% endblock %}
{% endblock %}
