{% extends "_base.html" %}

{% load bootstrap %}
{% load i18n %}

{% block content %}
  {% block body %}
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>{% trans "Set Localisation" %}</h2>
          <p>{% trans "This setting determines on which initiatives you are able to particiapte and vote on." %}</p>
          <p>{% trans "By default, a <i>Europe</i> permission will only allow you to contribute to European initiatives. If you localise to a country and city, you can also vote on initiatives on these levels, so a setting of <i>Europe/France/Paris</i> allows to participate on European, French and Paris-based initiatives." %}</p>
          <form method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.source.errors }}
            {{ form.source }}
            <div class="form-inline-group">
              <div class="form-group">
                {{ form.scope.label_tag }}
                <div class="">
                  {{ form.scope.errors }}
                  {{ form.scope }}
                  {{ form.scope.help_text }}
                </div>
              </div>
              <div class="form-group">
                <span>{% trans "Current status:" %}</span>
                <div class="">
                  <button type="button" disabled class="btn btn-default {% if user.config.is_scope_confirmed %}btn-success{% else %}btn-warning{% endif %}">
                    <i class="material-icons {% if user.config.is_scope_confirmed %}done{% else %}warning{% endif %}">{% if user.config.is_scope_confirmed %}done{% else %}warning{% endif %}</i>{% if user.config.is_scope_confirmed %}Validated{% else %}Not Validated{% endif %}
                  </button>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">{% trans "Change Localisation and request validation" %}</button>
          </form>
          <br/>
	  <p>{% trans "This setting should be set once. Therefore changes need to be <b>confirmed my moderators</b> and <b>changes are not possible while waiting for moderation</b>." %}</p>
        </div>
      </div>
      <div class="row">
        <div class="col row mt-4 mb-4">
          <a href="{% url 'users' %}"><i class="material-icons chevron-left">chevron_left</i>{% trans "Return to user list" %}</a>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
{% endblock %}
