{% extends "_base.html" %}
{% load bootstrap %}
{% load i18n %}
{% block body_class %}account account-password{% endblock %}
{% block head_title %}{% trans "Plenum: Password Change" %}{% endblock %}

{% block content %}
  {% block body %}
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col">
          <form method="POST" action="">
            <h2>{% trans "Password Change" %}</h2>
            {% csrf_token %}
            {{ form | bootstrap  }}
            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col row mt-4 mb-4">
          <a href="{% url "profile_edit" %}"><i class="material-icons chevron-left">chevron_left</i>{% trans "Return to settings" %}</a>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
{% endblock %}
