{% extends '_base.html' %}
{% load i18n %}
{% load get_setting %}

{% block content %}
  {% block body %}
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col help">
          <h2>{% trans "Frequently Asked Questions" %}</h2>
  
          <h3>{% trans "What is this platform about?" %}</h3>
          <p>{% trans "This platform is can be used to collaboratively work on policies. You can use it to propose new policies or ask to amend existing ones. It follows a defined process including validation, discussion and eventual vote." %} 

          <h3>{% trans "How can I participate?" %}</h3>
          <p>
            {% trans "Everyone is invited to participate. The platform is open to all registered members of" %}{{ 'PLATFORM_TITLE_ACRONYM'|get_setting }}.
            {% trans "To become a member or volunteer:" %}
          </p><a href="{{ 'PLATFORM_REGISTRATION_URL'|get_setting }}" class="btn btn-outline-primary">{% trans "Create Account" %}</a>

          <h3>{% trans "Do I have to use my actual name?" %}</h3>
          <p>{% trans "While the platform be default only requires using your actual name during registration and when launching a Policy proposal, this version of the policy tool has been modified according to our ideas of transparency and will therefore always require and display your actual name." %}</p>
  
          <h3>{% trans "What is a Policy?" %}</h3>
          <p>{% blocktrans %}A Policy is a proposal for the political programm of {{ 'PLATFORM_TITLE_ACRONYM'|get_setting }}. It consists of a short assessment of a situation, resulting proposal as well as information regarding potential cost and means of financing.{% endblocktrans %}</p>
  
          <h3>{% trans "How does the Policy process work?" %}</h3>
          <p>{% trans "A Policy will go through different stages until it is ready to be voted on:" %}</p>
          <ol>
            <li><b>{% trans "Draft" %}</b>
              <p>{% trans "This stage is private and allows you to work on your Policy proposal or amendment until you are ready to make it public." %}</p>
            </li>
            <li><b>{% trans "Staging" %}</b>
              <p>{% blocktrans %}Once staged, your proposal is visible and other users can join as co-initiators. There is a minimum of  {{ 'PLATFORM_BACKCOMPAT_INITIATORS_COUNT'|get_setting }} initiators required to submit for review by the governance team.{% endblocktrans %}  
            </li>
            <li><b>{% trans "Submission" %}</b>
              <p>{% blocktrans %}The governance team will verify that a new Policy meets all requirements. This mostly refers to being aligned with the basic values of {{ 'PLATFORM_TITLE_ACRONYM'|get_setting }} as well as meeting formal criteria.{% endblocktrans %}</p>
            </li>
            <li><b>{% trans "Validation" %}</b>
              <p>{% blocktrans %}In this phase at least 1% of registered participants have to support the Policy. This ensures, that enough people consider the topic for important and worth supporting. While the number of registered participants is below 5000, a different, lower Quorum is applied.{% endblocktrans %}</p>
              <p>{% blocktrans %}The support phase will last between {{ 'PLATFORM_POLICY_SUPPORT_MINIMUM_DAYS'|get_setting }} and {{ 'PLATFORM_POLICY_SUPPORT_MAXIMUM_DAYS'|get_setting }} days at a maximum. If an Initiative does noch reach the required number of supporters after six months, it will be deleted.{% endblocktrans %}</p>
            </li>
            <li><b>{% trans "Disussion" %}</b>
              <p>{% blocktrans %}In this Phase you can give your opinion on Policies, raise issues and propose improvements. You can leave comments in favor or against an Policy. The best arguments will automatically move to the top. This way particpants with less time can also inform themselves quickly about the status of a Policy.{% endblocktrans %}
              <br/>{% blocktrans %}The discussion phase will last {{ 'PLATFORM_POLICY_DISCUSSION_DAYS'|get_setting }}. Afterwards, the discussion will be closed.{% endblocktrans %}</p>
            </li>
            <li><b>{% trans "Review" %}</b>
              <p>{% trans "In this phase, the Initiators can modify or amend the Policy based on proposals and arguments gathered during the discussion phase." %}</p>
            </li>
            <li><b>{% trans "Finalizing" %}</b>
              <p>{% trans "In the likely case of modifications, the governance teams will re-validate a Policy afterwards before putting it to vote." %}</p>
            </li>
            <li><b>{% trans "Voting" %}</b>
              <p>{% blocktrans %}In this phase a vote on the Policy is held. The vote will last at least {{ 'PLATFORM_POLICY_VOTING_DAYS'|get_setting }}. If an Intiative is accepted, it will become part of the official Policy proposals of {{ 'PLATFORM_TITLE_ACRONYM'|get_setting }}{% endblocktrans %}</p>
            </li>
            <li><b>{% trans "Amending" %}</b>
              <p>{% trans "This phase can be launched when wanting to modif an existing Policy. It will create a variant of the Policy in Draft mode and allow you to make amendments before restarting the process." %}</p>
            </li>
          </ol>
  
          <h3>{% trans "What can be required in a Policy and what not?" %}</h3>
          <p>{% blocktrans %}All Policies have to conform with the basic values of {{ 'PLATFORM_TITLE'|get_setting }}. The {{ 'PLATFORM_TITLE_ACRONYM'|get_setting }}-values are:{% endblocktrans %}</p>
          <ul>
            <li>{% trans "Equal Opportunties" %}</li>
            <li>{% trans "Liberty" %}</li>
            <li>{% trans "Justice" %}</li>
            <li>{% trans "Human Dignity" %}</li>
            <li>{% trans "Sustainability" %}</li>
            <li>{% trans "Solidarity" %}</li>  
          </ul>
          <p>{% trans "Put differently: Support for single parents, protecting the environment and installing a lobbying register are topics we consider on par with our vaues while demanding the death penalty, nuclear power or rebuilding walls are not on line with our agenda." %}</p>
          <p>{% blocktrans %}A Policy also has to refer to the actual political program and not for example on the organisational structure or processes with the movement. A Policy must also not be identical or similar to an Policy rejected during the last {{ 'PLATFORM_POLICY_RELAUNCH_MORATORIUM_DAYS'|get_setting }}.{% endblocktrans %}</p>
          <p>{% trans "If the governance team comes to the conclusion, that a Policy does not meet the requirements, it can reject the Policy outright. Whenever possible, the Initiator(s) will be given the opportunity to alleviate or dispel. Should you not agree with the decision of the governance team, you can relegate the Policy to a curatorium made up of separately and randomly chosen moderators and board members. The curatorium then decides finally whether a Policy is permitted or not." %}</p>
  
          <h3>{% trans "How can I start a Policy?" %}</h3>
          <p>{% trans "You can draft a new Policy using this link: " %} <a href="/initiative/new">{% trans "Create a new Policy" %}</a>. </p>
  
          <h3>{% trans "What happens when there are multiple Policies on the same topic?" %}</h3>
          <p>{% trans "The governancen teams can identify and mark Policies as mutual alternatives. These Policies will be voted on together." %}</p>
  
          <h3>{% trans "I would like to launch a Policy and could use some help." %}</h3>
          <p>{% trans "For technical, formal or organisational help, send a message to:" %} <a href="mailto:{{ 'INITIATIVE_SUPPORT_EMAIL'|get_setting }}">{{ 'INITIATIVE_SUPPORT_EMAIL'|get_setting }}</a>.</p>
  
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
{% endblock %}
