{% extends "_base.html" %}

{% load site_defaults %}
{% load i18n %}

{% block content %}
  {% block body %}
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>{% trans "Time to Participate" %}</h2>
          <h3>{% trans "Submit Initiatives, contribute to discussions and vote!" %}!</h3>
          <p><a href="{{ 'PLATFORM_DEFAULT_URL'|get_setting }}">{{ 'PLATFORM_TITLE'|get_setting }}</a> {% trans "is a political movement like no other. It is a place where everyone can launch Initiatives, discuss them collaboratively and cast votes. As a participant you can influence and contribute our political programm and its direction within the boundaries of our values - even if you are not a member of our movement. Submitting and voting on Initiatives is done online through our Voting platform." %}</p>

          <a class="btn btn-outline-primary" href="{{ 'PLATFORM_REGISTRATION_URL'|get_setting }}">{% trans "Register Now!" %}</a>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
{% endblock %}

