{% extends "_base.html" %}
{% load bootstrap %}
{% load i18n %}
{% block head_title %}{% trans "Plenum: Password Reset Complete" %}{% endblock %}

{% block content %}
  {% block body %}
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>{% trans "Password Reset Complete" %}</h2>
          <p>{% trans "Your password has been set. You can now login by following this link:" %} <a href="/account/login/">{% trans "Login" %}</a>.</p>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
{% endblock %}


