{% extends "_base.html" %}
{% load bootstrap %}
{% load i18n %}
{% block head_title %}{% trans "Plenum: Password Reset" %}{% endblock %}

{% block content %}
  {% block body %}
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>{% trans "Password Reset" %}</h2>
          {% if validlink %}
          <form method="POST" action="">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button type="submit" class="btn btn-primary">{% trans "Save new Password" %}</button>
          </form>
          {% else %}
          <p>{% trans "The password reset link was invalid (expired or already used). Please request a new link" %}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
{% endblock %}
