{% load i18n %}
<div id="moderation" class="moderation alert alert-warning">
  <h6><span class="moderation-title">{% trans "Validation" %}</span><span>({% trans "Reviews required: " %}{{ policy.required_moderations }})</span></h6>
  <div id="moderation-list">
    {% include 'fragments/moderation/moderation_list.html' with moderations=policy.current_moderations %}
  </div>

  {% if request.guard.policy_review %}
    {% if not has_moderated %}
      <br/>
      <div id="moderation-new">
        <a data-ajax="true" href="{% url 'policy_review' policy_id=policy.id %}?fragment=%23moderation-new" class="btn btn-outline-primary">{% trans "Add Validation Review" %}</a>
      </div>
    {% endif %}
  {% endif %}

  {% if policy.stale_moderations.count %}
    <br />
    <hr />
    <br />
    <h6 class="voty-moderation-stale-title"><span class="moderation-title">{% trans "Previous Reviews" %}</span><span>({% trans "no longer valid" %})</h6>
    <div id="moderation-old">
      <div class="voty-moderation-interaction">
        <a class="voty-moderations-stale" data-ajax="true" href="{% url 'policy_stale_feedback' policy_id=policy.id slug=policy.slug %}?fragment=%23moderation-old&amp;toggle=True"><i class="material-icons">remove_red_eye</i></a>
      </div>
    </div>
  {% endif %}
</div>
