{% load i18n %}
<div id="moderation" class="moderation alert alert-warning">
  <h6><span class="moderation-title">{% trans "Validation" %}</span><span>({% trans "Reviews required: " %}{{ policy.required_moderations }})</span></h6>
  <div id="moderation-list">
    {% include 'fragments/moderation/moderation_list.html' with moderations=policy.current_moderations %}
  </div>

  {% if request.guard.policy_review %}
    {% if not has_moderated %}
      <br/>
      <div id="moderation-new">
        <a data-ajax="true" href="{% url 'policy_review' policy_id=policy.id %}?fragment=%23moderation-new" class="btn btn-outline-primary">{% trans "Add Validation Review" %}</a>
      </div>
    {% endif %}
  {% endif %}

  {% if policy.stale_moderations.count %}
    <br />
    <hr />
    <br />
    <strong>{% trans "Validation of previous Versions" %}</strong>
    {% include 'fragments/moderation/moderation_list.html' with moderations=policy.stale_moderations %}
  {% endif %}
</div>
