{% load i18n %}
<div id="{{m.unique_id}}" class="moderation-item">
  <div class="moderation-author">
    {% include "fragments/avatar.html" with size=44 user=m.user %}
    {% if m.vote == 'y' %}
      <span class="badge badge-success"><i class="material-icons">thumb_up</i></span>
    {% elif m.vote == 'n' %}
      <span class="badge badge-danger"><i class="material-icons">thumb_down</i></span>
    {% else %}
      <span class="badge badge-default"><i class="material-icons">thumbs_up_down</i></span>
    {% endif %}
  </div>
  <div class="moderation-header">

    <span class="moderation-item-author">{{m.user.get_full_name|default:m.user.username}}</span>,
    <span>{% blocktrans with time=m.created_at|date:'M-d, H:i' %}posted on {{ time }}.{% endblocktrans %}</span>
    {% if m.text %}
    <span class="moderation-interaction">
      {% if request.guard.is_reviseable %}
        {% if m.user_id == request.user.id %}
        <a class="voty-link" title="{% trans 'Edit Review' %}" data-ajax="true" href="{% url 'policy_evaluate' policy_id=policy.id %}?fragment=%23{{m.unique_id}}&amp;edit=True&amp;target_type={{m.type}}&amp;target_id={{m.id}}"><i class="material-icons">edit</i></a>
        {% endif %}
      {% endif %}
      <a class="voty-link" title="{% trans 'Show/Hide Comments' %}" data-ajax="true" href="{% url 'policy_feedback' policy_id=m.policy.id slug=m.policy.slug target_id=m.id %}?fragment=%23{{m.unique_id}}&amp;{% if full %}toggle=True{% endif %}">
        {% if full %}{% trans "Hide details" %}{% else %}{% trans "Show details" %}{% endif %}
        <i class="material-icons">{% if full %}visibility_off{% else %}remove_red_eye{% endif %}</i>
      </a>
    </span>
    {% endif %}
    {% if full %}
      {% if has_blockers %}
      <ul id="{{m.unique_id}}-blocker-list" class="moderation-blocker-list">
      {% for blocker in blockers %}<li>{{ blocker }}</li>{% endfor %}
      </ul>
      {% endif %}
    <div class="moderation-text">
      <p>
      {% load markdown %}
      {{m.text|markdown}}
      </p>
    </div>
    {% endif %}
  </div>
  {% if full %}
    <div id="{{m.unique_id}}-comment-list" class="moderation-comment-list">
      {% for comment in comments %}
        {% include 'fragments/comment/comment_item.html' %}
      {% endfor %}
      <br/>
    </div>
    <div id="{{m.unique_id}}-reaction" class="moderation-reaction">
      {% if not has_commented %}
        {% if not m.stale %}
          <div id="{{m.unique_id}}-new-comment" class="moderation-new-comment">
            {% include 'fragments/comment/comment_add.html' %}
          </div>
        {% endif %}
      {% elif request.guard.reason %}
        <div class="alert alert-warning voty-moderation-no-comment">{{ request.guard.reason }}</div>
      {% endif %}
    </div>
  {% endif %}
</div>

