{% load i18n %}
{% load get_setting %}
{% load get_as_string %}

<div class="row">
  <div class="col-sm-12 col-md-4">
    <h6 class="text-muted classification">{% trans "Published on" %}</h6>
    <div>
    {% if policy.was_published_at %}
      {{ policy.was_published_at }}
    {% else %}
      {% trans "Not published yet" %}
    {% endif %}
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <h6 class="text-muted classification">{% trans "Last edit" %}</h6>
    {{ policy.changed_at }}
  </div>
  <div class="col-sm-12 col-md-4">
    <h6 class="text-muted classification">{% trans "Current State" %}</h6>
    {{ policy.state|title }}
  </div>
</div>
<br/>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <h6 class="text-muted classification">{% trans "Scope" %}</h6>
    {% with "CATEGORIES.SCOPE_DICT."|add:policy.scope|upper|get_setting as SCOPE %}
      <div>{{ SCOPE }}</div>
    {% endwith %}
  </div>
  <div class="col-sm-12 col-md-4">
    <h6 class="text-muted classification">{% trans "Context" %}</h6>
    {% with "CATEGORIES.CONTEXT_DICT."|add:policy.context|upper|get_setting as CONTEXT %}
      <div>{{ CONTEXT }}</div>
    {% endwith %}
  </div>
  <div class="col-sm-12 col-md-4">
    <h6 class="text-muted classification">{% trans "Topic" %}</h6>
    {% with "CATEGORIES.TOPIC_DICT."|add:policy.topic|upper|get_setting as TOPIC %}
      <div>{{ TOPIC }}</div>
    {% endwith %}
  </div>
</div>
{% if policy.tags.all %}
<hr/>
<div class="row">
  <div class="col-sm-12">
  <h6 class="text-muted classification">{% trans "Tags" %}</h6>
    {% for tag in policy.tags.all %}
        <span class="badge badge-primary">{{ tag }}</span>
    {% endfor %}
  </div>
</div>
{% endif %}

