{% load i18n %}
{% if policy.all_variants %}
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-12">
            <h3>{% trans "The following " %}{% if policy.all_variants|length > 1 %}{% trans "variants" %}{% else %}{% trans "variant" %}{% endif %}{% trans "were also submitted" %}</h3>
        </div>
      </div>
      <div>
        {% for policy in policy.all_variants %}
          {% include "fragments/policy/policy_card.html" %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
