{% load i18n %}
<style>
    /* TODO: yes, this should be moved to css file.
     The switch - the box around the slider */

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .switch input:checked + .slider {
        background-color: #60278e;
    }

    .switch input:focus + .slider {
        box-shadow: 0 0 1px #60278e;
    }

    .switch input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .switch .slider.round {
        border-radius: 34px;
    }

    .switch .slider.round:before {
        border-radius: 50%;
    }
</style>
<form action="" method="get">
    <div class="row">
        <div class="col-12">
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseFilters" role="button">
                Show filters
            </a>
        </div>
    </div>

    <br/>

    <div class="row">
    <div class="col-12">
        <div class="collapse" id="collapseFilters">
            <div class="card card-body" style="padding:10px">
                <div class="row">
                    <div class="col-12">
                        Show only policies with the following status:
                    </div>
                </div>
                <br/>
                <div class="row">
                    {% for checkbox in filter.form.state %}
                        <div class="col-xs-12 col-sm-4">
                            <label class="switch">
                                {{ checkbox.tag }}
                                <span class="slider round"></span>
                            </label>
                            {{ checkbox.choice_label }}
                        </div>
                    {% endfor %}
                </div>

                <div class="row">
                    <div class="col-12 text-center">
                        <button class="btn btn-primary" type="submit">Apply filters</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</form>

<hr/>

{% for policy in filter.qs %}
    {% include "fragments/policy/policy_card.html" %}
    {% empty %}
    <h3>No policies found.</h3>
{% endfor %}

<script>

    // Initialize Tooltips
    // XXX really necessary?
    (function (window) {
        if (window.$) {
            $('[data-toggle="tooltip"]').tooltip();
        }
    }(window));
</script>


<!--   -->