{% load i18n %}

<form action="" method="get">
    {% for state in filter.form.state %}
    <span>
        {{ state }}
    </span>
    {% endfor %}
    <button type="submit">Apply filters</button>
    </form>
    {% for policy in filter.qs %}
        {% include "fragments/policy/policy_card.html" %}
    {% endfor %}


<script>

// Initialize Tooltips
// XXX really necessary?
(function (window)  {
  if (window.$) {
    $('[data-toggle="tooltip"]').tooltip();
  }
}(window));
</script>


<!--   -->